doctype html
html(lang='')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='css/main.css')
    script(src="js/main.js")
  body
  div.container-fluid.first-section
    div.container
      div.row
        div.col-md-12.col-sm-12.col-xs-12.first-content#first
          img.hid.logo(src='img/logo.png',alt='logo')
          h1.hid i love design
          p.hid I'm glad that you visited my site where he can get to
            br
            | know me and my work.
          a(href='#second')
            img.ar-down(src='img/bg.png',alt='')
  div.container-fluid.second-section
    div.container
      div.row
        div.col-md-12.col-sm-12.col-xs-12.second-content#second
          div.main-text
            p.hid My name is Vlad Musienko, I'm a web designer. I love to draw and all that is connected with the design. In this area a long time ago and during this time I managed to create several successful projects used by people all over the world.
            p.hid I love the simplicity in the design of web sites. As I see it,people, it's like my work. Naturally do not want to rest on our laurels and will continue further studies to improve soybean skills, creating new interesting creative projects.
            h2.hid what i do
          div.row
            div.three-boxes
              div.box.hid
                h3 TEMPLATE.
                p Lately, I often create templates for WordPress. The portfolio is the presentation and the opportunity to buy them on the site Themeforest.
              div.box.hid
                h3 BRAND.
                p Creating a brand is a very complex process aimed at the creation and positioning the unique persons of the company, its products and services.
              div.box.hid
                h3 DREAMS.
                p Everyone is able to destroy the dream, but not everyone is able to create it. I try to help people in its definition as a person and specialist.
  div.container-fluid.third-section
    div.container
      div.row
        div.col-md-12.third-content
          h2.hid my work
          ul.nav.nav-justified.hid
            li
              a All Works
            li
              a Landing Page
            li
              a Web Design
            li
              a Icon Design
            li
              a Template
          div.photo-blocks.hid
            div.block
              img(src='http://lorempixel.com/300/300/sports',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/animals',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/cats',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/fashion',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/transport',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/nightlife',alt='')
              h5 Positionly gain more traffic
              p Web Design
          button.btn.btn-violet.hid See My Work
  div.container-fluid.fourth-section
    div.container
      div.row
        div.col-md-12.fourth-content
          h2.hid photography
          p.hid In my life there is a place for photos. I love to share experiences and beautiful moments of your life with others. You can see the first examples of the new work, or photos from my vacation or a walk in the park. I thought you would be interested.
          div.photography.hid
            div.photo
              img(src='http://lorempixel.com/300/300/nightlife',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/animals',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/cats',alt='')
             div.photo
              img(src='http://lorempixel.com/300/300/transport',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/sports',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/fashion',alt='')
          button.btn.btn-violet.hid See My Photoblog
  div.container-fluid.fifth-section
    div.container
      div.row
        div.col-md-6.col-md-offset-3.fifth-content.hid
          img(src='img/inf.png',alt='')
          p Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. I do not spam.
          form
            div.input-group
              input.form-control(type="email",placeholder="Enter your email...")
              span.input-group-btn
                button.btn.violet-group Subscribe
  div.container-fluid.six-section
    div.container
      div.row
        div.col-md-6.col-md-offset-3.six-content.hid
          ul.nav.nav-justified
            li
             a(href='http://twitter.com',target="_blank")
              i.fa.fa-twitter
            li
              a(href='#',target="_blank")
                i.fa.fa-behance-square
            li
              a(href='#',target="_blank")
                i.fa.fa-instagram
            li
              a(href='#',target="_blank")
                i.fa.fa-amazon
          p Copyright © 2014. All Rights Reserved.
          p Made With Love By @AirTheme
