  $first-section-bg: #23232e;
  $color-wh: #fff;
  $color-first: #464b4f;
  @mixin block-holder {
    width: 85%;
    margin: 0 auto;
  }

  @mixin block-element {
    width: 31%;
    display: inline-block;
    margin: 1%;
    img {
      max-width: 100%;
      &:hover {
        filter:grayscale(1);
      }
    }
  }

  .btn {
    &.btn-violet {
      color: $color-wh;
      font: 400 18px 'Segoe UI';
      background-color: #7b77c9;
      padding: 18px 52px;
    }
  }

  .first-section {
    background: $first-section-bg;
    color: $color-wh;
    .first-content {
      padding: 80px 0px 0px 0px;
      h1 {
        font: 700 80px / 30px 'Segoe UI';
        text-transform: uppercase;
        padding-top: 173px;
        text-align: center;
      }
      p {
        font: 400 18px / 30px 'Segoe UI';
        padding: 64px 0 173px 0;
        text-align: center;
      }
      img {
        display: block;
        margin: 0 auto;
        &.logo {}
        &.ar-down {
          padding-bottom: 50px;
        }
      }
    }
  }

  .second-section {
    padding-bottom: 107px;
    .main-text {
      h2 {
        color: $color-first;
        font: 700 80px / 36px 'Segoe UI';
        padding-top: 104px;
        padding-bottom: 70px;
        text-align: center;
        text-transform: uppercase;
      }
      p {
        color: $color-first;
        text-align: center;
        padding-right: 149px;
        padding-left: 151px;
        font: 400 30px / 42px 'Segoe UI';
        &:last-of-type {
          padding-top: 32px;
        }
        &:first-child {
          padding-top: 114px;
        }
      }
    }
    .three-boxes {
      .box {
        display: inline-block;
        width: 27%;
        &:first-child {
          margin-left: 10%;
        }
      }
      h3 {
        color: $color-first;
        font: 700 18px / 42px 'Segoe UI';
      }
      p {
        color: #888a8b;
        font: 400 18px / 30px 'Segoe UI';
      }
    }
  }

  .third-section {
    background: $first-section-bg;
    .third-content {
      padding-top: 115px;
      padding-bottom: 87px;
      h2 {
        color: $color-wh;
        font: 700 80px / 30px 'Segoe UI';
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 52px;
      }
      ul {
        padding: 0;
        list-style-type: none;
        width: 58%;
        margin: 0 auto;
        padding-bottom: 40px;
        li {
          a {
            color: $color-wh;
            font: 300 14px 'Segoe UI';
            &:hover,
            &:active,
            &:focus,
            &:visited {
              background: transparent;
              text-decoration: none;
              border-bottom: 2px solid #7b77c9;
            }
          }
        }
      }
      .btn-violet {
        margin: 0 auto;
        display: block;
      }
      .photo-blocks {
        @include block-holder;
        padding-bottom: 59px;
        .block {
          @include block-element;
          h5 {
            color: $color-wh;
            font: 400 21px / 36px 'Segoe UI';
            text-align: center;
            padding-top: 11px;
            margin-bottom: 0;
          }
          p {
            color: #818baa;
            font: 400 14px / 36px 'Segoe UI';
            text-align: center;
          }
        }
      }
    }
  }

  .fourth-section {
    .fourth-content {
      padding: 114px 0px 85px 0px;
      h2 {
        color: $color-first;
        font: 700 80px / 36px 'Segoe UI';
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 52px;
      }
      p {
        color: #888a8b;
        font: 400 30px / 42px 'Segoe UI';
        text-align: center;
        padding: 0 185px 32px 185px;
      }
      .photography {
        @include block-holder;
        padding-bottom: 77px;
        .photo {
          @include block-element;
        }
      }
      .btn-violet {
        margin: 0 auto;
        display: block;
        padding: 18px 31px;
      }
    }
  }

  .fifth-section {
    background: $first-section-bg;
    .fifth-content {
      padding-top: 266px;
      padding-bottom: 265px;
      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 52px;
      }
      p {
        color: $color-wh;
        font: 400 18px / 30px 'Segoe UI';
        text-align: center;
        padding-bottom: 48px;
      }
      input[type="email"] {
        background-color: $color-wh;
        padding: 28px;
        font: 400 18px / 30px 'Segoe UI';
      }
      .btn {
        padding: 13px 30px 13px 30px;
        background-color: #7b77c9;
        color: $color-wh;
        font: 400 18px / 30px 'Segoe UI';
      }
    }
  }

.six-section {
  .six-content {
    padding-top: 100px;
    padding-bottom: 100px;
    ul {
      padding-bottom: 100px;
      li {
        text-align: center;
        font-size: 30px;
        a {
          color: #dbdbdb;
          &:hover,&:active,&:focus,&:visited{
            background: transparent;
          }
        }
      }
    }
    p {
      color: #7c7c7c;
      font: 400 18px / 30px 'Segoe UI';
      text-align:center;
    }
  }
}

.animated { visibility: visible !important; }
.hid { visibility: hidden; }
