@mixin tablet-padding {
  padding-right: 50px;
  padding-left: 50px;
}

@mixin mobile-padding {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
  .second-section .main-text p,
  .fourth-section .fourth-content p {
    @include tablet-padding;
  }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
  .third-section .third-content .photo-blocks .block,
  .fourth-section .fourth-content .photography .photo {
    display: block;
    margin: 0 auto;
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .fourth-section .fourth-content .photography .photo {
    img {
      margin-bottom: 2%;
    }
  }
  .first-section {
    .first-content {
      h1 {
        font-size: 50px;
      }
    }
  }
  .second-section .main-text h2,
  .fourth-section .fourth-content h2,
  .third-section .third-content h2 {
    font-size: 50px;
  }
  .second-section .main-text p,
  .fourth-section .fourth-content p {
    @include mobile-padding;
  }
  .second-section {
    .three-boxes {
      .box {
        display: block;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        &:first-child {
          margin: 0 auto;
        }
      }
    }
  }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
  .third-section {
    .third-content {
      .photo-blocks {
        .block {
          h5 {
            font-size: 15px;
          }
        }
      }
    }
  }
  .fifth-content {
    .input-group {
      display: block;
      input[type="email"],
      .btn {
        border-radius: 4px;
        margin-bottom: 10px;
      }
      .btn {
        width: 100%;
      }
    }
  }
  .first-section {
    .first-content {
      h1 {
        font-size: 30px;
      }
    }
  }
  .second-section .main-text h2,
  .fourth-section .fourth-content h2,
  .third-section .third-content h2 {
    font-size: 30px;
  }
}
